{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <header>
            <h1>Localidades de {{ provinceName }}</h1>
        </header>
        <ul class="localities"></ul>
    </section>
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){

            $.ajax({
                url: "{{ path('list_localities_by_province_name', {"provinceName": provinceName}) }}",
                context: document.body,
                success: function(data) {
                    console.log(data);

                    data.forEach(function(element, index){
                        $('.localities').append($('<li>'+element.name+'</li>'));
                    });
                },
                error: function(response){
                    switch (response.status) {
                        case 404:
                            alert('No tiene localidades.');
                            break;
                    }
                }
            });
        });
    </script>
{% endblock %}